<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="./css/style.css">
        <script src="./js/app.js"></script>
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>This site is created by <b>Thomas Benjamin</b> using mapbox and weatherstack API</p>
            <img class="potrait" src="./img/me.jpeg">
        </div>
        <div>
            <h4>Upcoming updates</h4>
            <p>Adding REST API approach</p>
            <p>Adding a chat application using Web Socket and Socket.io</p>
        </div>
        
        {{>footer}}
    </body>
</html>