<!DOCTYPE html>

<html>
    <head>
        <title>Welcome</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="./css/style.css">
        
    </head>

    <body>
        <div class="main-content">

            {{>header}} 
        <p>Use this site to get the weather!</p>

        <form>
            <input placeholder="Enter your Location">
            <button>Search</button>
            <p id="location-font">Choose your preffered location from here</p>
            <button class="button-style" id="button-toronto">Toronto</button>
            <button class="button-style" id="button-newyork">New York</button>
            <button class="button-style" id="button-amsterdam">Amsterdam</button>
        </form>

    <p id="message-1"></p>
    <p id="message-2"></p>

        </div>

        {{>footer}}
        
        <script src="./js/app.js"></script>
    </body>
</html>