
<footer>
    <div>
<p>Created by {{name}}</p>
    </div>

<div>
    <h4>Contact</h4>
    <p><a href="https://github.com/thomasbenjamin95">Github</a> &nbsp; <a href="https://www.linkedin.com/in/thomasbenjamin95/">LinkedIn</a></p>
</div>

</footer>
